<div class="chat-window container-fluid mt-0">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="p-3">
                <!-- 和好友的聊天窗口 friend -->
                <div ng-if="currentChatItemType === 'friend'">
                    <!-- 好友聊天历史消息 -->
                    <div ng-if="!chatMessageList.length">
                        <h5 class="display-5 text-center mx-5 pt-1 pb-3">
                            <button class="button button-small text-dark" disabled>没有历史消息</button>
                        </h5>
                    </div>
                    <div ng-if="chatMessageList.length && current.sizeOf.messagesLoadedLimited < max.get.messages.limit">
                        <h5 class="display-5 text-center mx-5 pt-1 pb-3">
                            <button class="button button-small text-dark" disabled>没有更多消息</button>
                        </h5>
                    </div>
                    <div ng-if="current.sizeOf.messagesLoadedLimited === max.get.messages.limit">
                        <h5 class="display-5 text-center mx-5 pt-1 pb-3">
                            <div class="button button-border button-rounded button-primary button-small" ng-click="load_more_messages()" onselectstart="return false;">
                                加载更多消息
                            </div>
                        </h5>
                    </div>
                    <h5 class="display-5 alert alert-warning text-center mx-5 py-3" ng-if="current.sizeOf.messagesLoadedLimited > max.get.messages.limit">
                        <i class="fa fa-exclamation-triangle mr-1"></i>
                        <span>发生错误，一次加载消息数量超限</span>
                    </h5>
                    <!-- 好友聊天消息 -->
                    <div ng-repeat="message in chatMessageList track by $index">
                        <!-- 发送者是我 sender is me -->
                        <div ng-if="message.user.id === userData.user.id">
                            <div class="message-body p-1 mb-1"
                                 onmouseenter="$(this).find('.button-wrapper').show()"
                                 onmouseleave="$(this).find('.button-wrapper').hide()"
                                 data-id="{{message.id}}"
                                 title="{{message.id}}">
                                <div class="message-content-wrapper d-flex justify-content-end align-items-center">
                                    <!-- 消息已被撤回 -->
                                    <div class="mx-auto badge badge-pill badge-secondary" ng-if="message.recall === 1">
                                        你撤回了一条消息
                                    </div>
                                    <!-- 消息没被撤回 -->
                                    <div class="w-100 d-flex justify-content-end align-items-center" ng-if="!message.recall" style="position: relative;">
                                        <!-- 按钮区域 -->
                                        <div class="button-wrapper message-left-side-button-wrapper" style="display: none;">
                                            <!-- (发送者是我) 撤回消息按钮 -->
                                            <button class="button button-caution button-glow button-circle button-tiny mr-2 mt-1" ng-click="recall_friend_room_message(message.id)"
                                                    data-toggle="tooltip" title="撤回消息">
                                                <i class="fa fa-lg fa-times"></i>
                                            </button>
                                            <!-- (发送者是我) 删除消息按钮 -->
                                            <button class="button button-primary button-glow button-circle button-tiny mr-2 mt-1" ng-click="remove_message(message.id)"
                                                    data-toggle="tooltip" title="删除消息">
                                                <i class="fa fa-lg fa-times"></i>
                                            </button>
                                            <!-- (发送者是我) 消息发送时间 -->
                                            <div class="message-create-time d-inline-block cursor-pointer" data-toggle="tooltip" title="消息发送时间" onselect="return false;">
                                                {{message.messageCreateTime}}
                                            </div>
                                        </div>
                                        <div class="d-inline-block hover-inner-show" ng-if="message.sendStatus">
                                            <!-- 发送状态 -->
                                            <span class="hidden hover-show">{{message.sendStatus}}</span>
                                            <!-- 发送状态: 发送中 -->
                                            <i class="fa fa-spin fa-circle-o-notch fa-fw text-secondary" ng-if="message.sendStatus === 'sending'" title="sending"></i>
                                            <!-- 发送状态: 发送完毕 -->
                                            <i class="fa fa-check fa-fw text-success" ng-if="message.sendStatus === 'done'" title="done"></i>
                                        </div>
                                        <!-- 消息气泡 -->
                                        <div class="bg-white img-thumbnail message-bubble px-2" onclick="$(this).prev('.button-wrapper').toggle()" ng-class="{'half-hidden hover-show':message.sendStatus === 'sending'}">
                                            <div ng-if="message.text">
                                                <div ng-repeat="line in message.text.split('\n') track by $index">
                                                    <pre ng-if="line && !isCardLink(line)" ng-bind="line" class="line break-all"></pre>
                                                    <a ng-if="line && isCardLink(line)" class="mt-1" ng-bind="getCardLink(line)" href="{{getCardLink(line)}}" target="_blank"></a>
                                                    <button ng-if="line && isCardLink(line)" class="btn btn-block btn-primary mt-1" ng-click="viewCardByLink(line)">
                                                        <div>查看卡片</div>
                                                    </button>
                                                    <br ng-if="!line">
                                                </div>
                                            </div>
                                            <!-- 消息中的链接 -->
                                            <div class="d-inline-block w-100" ng-if="message.url">
                                                <small class="text-muted">访问
                                                    <a href="{{message.url}}" target="_blank">{{message.url}}</a>
                                                </small>
                                            </div>
                                            <div ng-if="!message.text" class="text-danger">
                                                该消息没有内容
                                            </div>
                                        </div>
                                        <!-- 我的头像 -->
                                        <div class="avatar-wrapper d-inline-block ml-1">
                                            <img ng-src="{{message.user.avatarUrl}}" alt="x" class="user-avatar rounded-circle border">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 发送者是对方 -->
                        <div ng-if="message.user.id !== userData.user.id">
                            <div class="message-body p-1 mb-1"
                                 onmouseenter="$(this).find('.button-wrapper').show()"
                                 onmouseleave="$(this).find('.button-wrapper').hide()">
                                <div class="message-content-wrapper d-flex justify-content-begin align-items-center">
                                    <!-- 消息已被撤回 -->
                                    <div class="mx-auto badge badge-pill badge-secondary" ng-if="message.recall === 1">
                                        对方撤回了一条消息
                                    </div>
                                    <!-- 消息没被撤回 -->
                                    <div class="w-100 d-flex justify-content-begin align-items-center" ng-if="!message.recall" style="position: relative;">
                                        <!-- 他的头像 -->
                                        <div class="avatar-wrapper d-inline-block mr-1">
                                            <img ng-src="{{message.user.avatarUrl}}" alt="x" class="user-avatar rounded-circle border">
                                        </div>
                                        <!-- 消息气泡 -->
                                        <div class="bg-white img-thumbnail message-bubble px-2" onclick="$(this).next('.button-wrapper').toggle()">
                                            <div ng-if="message.text">
                                                <div ng-repeat="line in message.text.split('\n') track by $index">
                                                    <pre ng-if="line && !isCardLink(line)" ng-bind="line" class="line break-all"></pre>
                                                    <a ng-if="line && isCardLink(line)" class="mt-1" ng-bind="getCardLink(line)" href="{{getCardLink(line)}}" target="_blank"></a>
                                                    <button ng-if="line && isCardLink(line)" class="btn btn-block btn-primary mt-1" ng-click="viewCardByLink(line)">
                                                        <div>查看卡片</div>
                                                    </button>
                                                    <br ng-if="!line">
                                                </div>
                                            </div>
                                            <!-- 消息中的链接 -->
                                            <div class="d-inline-block w-100" ng-if="message.url">
                                                <small class="text-muted">访问
                                                    <a href="{{message.url}}" target="_blank">{{message.url}}</a>
                                                </small>
                                            </div>
                                            <div ng-if="!message.text" class="text-danger">
                                                该消息没有内容
                                            </div>
                                        </div>
                                        <div class="button-wrapper message-right-side-button-wrapper" style="display: none;">
                                            <!-- (发送者是对方) 消息发送时间 -->
                                            <div class="message-create-time d-inline-block cursor-pointer" data-toggle="tooltip" title="消息发送时间" onselect="return false;">
                                                {{message.messageCreateTime}}
                                            </div>
                                            <!-- (发送者是对方) 删除消息按钮 -->
                                            <button class="button button-primary button-glow button-circle button-tiny ml-2 mt-1" ng-click="remove_message(message.id)"
                                                    data-toggle="tooltip" title="删除消息">
                                                <i class="fa fa-lg fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 聊天室的聊天窗口 room -->
                <div ng-if="currentChatItemType === 'room'">
                    <!-- 聊天室历史消息 -->
                    <div ng-if="!chatMessageList.length">
                        <h5 class="display-5 text-center mx-5 pt-1 pb-3">
                            <button class="button button-small text-dark" disabled>没有历史消息</button>
                        </h5>
                    </div>
                    <div ng-if="chatMessageList.length && current.sizeOf.messagesLoadedLimited < max.get.messages.limit">
                        <h5 class="display-5 text-center mx-5 pt-1 pb-3">
                            <button class="button button-small text-dark" disabled>没有更多消息</button>
                        </h5>
                    </div>
                    <div ng-if="current.sizeOf.messagesLoadedLimited === max.get.messages.limit">
                        <h5 class="display-5 text-center mx-5 pt-1 pb-3">
                            <div class="button button-border button-rounded button-primary button-small" ng-click="load_more_messages()" onselectstart="return false;">
                                加载更多消息
                            </div>
                        </h5>
                    </div>
                    <h5 class="display-5 alert alert-warning text-center mx-5 py-3" ng-if="current.sizeOf.messagesLoadedLimited > max.get.messages.limit">
                        <i class="fa fa-exclamation-triangle mr-1"></i>
                        <span>发生错误，一次加载消息数量超限</span>
                    </h5>
                    <!-- 聊天室聊天消息 -->
                    <div ng-repeat="message in chatMessageList track by $index">
                        <div class="message-body p-1 mb-1 {{message.roomMember.id === userData.user.id ? 'text-right' : ''}}"
                             onmouseenter="$(this).find('.button-wrapper').show()"
                             onmouseleave="$(this).find('.button-wrapper').hide()"
                             data-id="{{message.id}}"
                             title="{{message.id}}">
                            <!-- 消息内容 -->
                            <div class="message-content-wrapper {{message.recall === 1?'text-center':''}}">
                                <!-- 消息已被撤回 -->
                                <div class="mx-auto badge badge-pill badge-secondary" ng-if="message.recall === 1">
                                    {{getRoomMemberName(message.roomMember)}} 撤回了一条消息
                                </div>
                                <!-- 消息没被撤回 -->
                                <div ng-if="!message.recall">
                                    <!-- 用户名 -->
                                    <div class="username-wrapper mb-1">
                                        <!-- 如果是我发的消息：我的用户名 -->
                                        <div class="d-inline-block" ng-if="message.roomMember.id === userData.user.id">
                                            {{getRoomMemberName(message.roomMember)}}
                                        </div>
                                        <!-- 头像 -->
                                        <img ng-src="{{message.roomMember.avatarUrl}}" alt="x" class="user-avatar rounded-circle border cursor-pointer" ng-click="startChatWithRoomMember(message.roomMember.id)">
                                        <!-- 如果是别人发的消息：别人的用户名 -->
                                        <div class="d-inline-block" ng-if="message.roomMember.id !== userData.user.id">
                                            {{getRoomMemberName(message.roomMember)}}
                                        </div>
                                    </div>

                                    <div style="position: relative;">
                                        <!-- 发送者是我 sender is me -->
                                        <div class="button-wrapper message-left-side-button-wrapper" ng-if="message.roomMember.id === userData.user.id"
                                             style="display: none;">
                                            <!-- (发送者是我) 撤回消息按钮 -->
                                            <div class="d-inline-block">
                                                <button class="button button-caution button-glow button-circle button-tiny mr-2 mt-1" ng-click="recall_chat_room_message(message.id)"
                                                        data-toggle="tooltip" title="撤回消息">
                                                    <i class="fa fa-lg fa-times"></i>
                                                </button>
                                            </div>
                                            <!-- (发送者是我) 删除消息按钮 -->
                                            <div class="d-inline-block">
                                                <button class="button button-primary button-glow button-circle button-tiny mr-2" ng-click="remove_message(message.id)" data-toggle="tooltip"
                                                        title="删除消息">
                                                    <i class="fa fa-lg fa-times"></i>
                                                </button>
                                            </div>
                                            <!-- (发送者是我) 消息发送时间 -->
                                            <div class="message-create-time d-inline-block cursor-pointer" data-toggle="tooltip" title="消息发送时间" onselect="return false;">
                                                {{message.messageCreateTime}}
                                            </div>
                                        </div>

                                        <div class="d-inline-block hover-inner-show" ng-if="message.sendStatus">
                                            <!-- 发送状态 -->
                                            <span class="hidden hover-show">{{message.sendStatus}}</span>
                                            <!-- 发送状态: 发送中 -->
                                            <i class="fa fa-spin fa-circle-o-notch fa-fw text-secondary" ng-if="message.sendStatus === 'sending'" title="sending"></i>
                                            <!-- 发送状态: 发送完毕 -->
                                            <i class="fa fa-check fa-fw text-success" ng-if="message.sendStatus === 'done'" title="done"></i>
                                        </div>

                                        <!-- (发送者是我) 消息气泡 -->
                                        <div class="bg-white img-thumbnail message-bubble px-2" onclick="$(this).siblings('.button-wrapper').toggle()" ng-class="{'half-hidden hover-show':message.sendStatus === 'sending'}">
                                            <div ng-if="message.text">
                                                <div ng-repeat="line in message.text.split('\n') track by $index">
                                                    <pre ng-if="line && !isCardLink(line)" ng-bind="line" class="line break-all"></pre>
                                                    <a ng-if="line && isCardLink(line)" class="mt-1" ng-bind="getCardLink(line)" href="{{getCardLink(line)}}" target="_blank"></a>
                                                    <button ng-if="line && isCardLink(line)" class="btn btn-block btn-primary mt-1" ng-click="viewCardByLink(line)">
                                                        <div>查看卡片</div>
                                                    </button>
                                                    <br ng-if="!line">
                                                </div>
                                            </div>
                                            <!-- 消息中的链接 -->
                                            <div class="d-inline-block w-100" ng-if="message.url">
                                                <small class="text-muted">访问
                                                    <a href="{{message.url}}" target="_blank">{{message.url}}</a>
                                                </small>
                                            </div>
                                            <div ng-if="!message.text" class="text-danger">
                                                该消息没有内容
                                            </div>
                                        </div>
                                        <!-- 发送者是别人 -->
                                        <div class="button-wrapper message-right-side-button-wrapper" ng-if="message.roomMember.id !== userData.user.id"
                                             style="display: none;">
                                            <!-- (发送者是别的群成员) 消息发送时间 -->
                                            <div class="message-create-time d-inline-block cursor-pointer" data-toggle="tooltip" title="消息发送时间" onselect="return false;">
                                                {{message.messageCreateTime}}
                                            </div>
                                            <!-- (发送者是别的群成员) 删除消息按钮 -->
                                            <div class="d-inline-block">
                                                <button class="button button-primary button-glow button-circle button-tiny ml-2" ng-click="remove_message(message.id)" data-toggle="tooltip"
                                                        title="删除消息">
                                                    <i class="fa fa-lg fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- request -->
                <div ng-if="['request', 'inform'].includes(currentChatItemType)">
                    <div ng-repeat="request in chatMessageList track by $index">
                        <!-- add friend request -->
                        <div class="card w-100 mb-3" ng-if="request.type === 'friend'">
                            <div class="card-header">
                                <span ng-if="request.requester.id === userData.user.id">
                                    你
                                </span>
                                <span ng-if="request.requester.id !== userData.user.id">
                                    {{request.requester.nickname}}
                                </span>
                                请求添加
                                <i class="fa fa-user ml-1"></i>
                                <span ng-if="request.receiver.id === userData.user.id">
                                    你
                                </span>
                                <span ng-if="request.receiver.id !== userData.user.id">
                                    {{request.receiver.nickname}}
                                </span>
                                为好友
                            </div>
                            <div class="card-body">
                                <p class="card-text {{request.receiver.id === userData.user.id ? 'text-dark' : 'text-muted'}}">
                                    验证消息: <span ng-bind="request.requestMessage"></span>
                                </p>
                                <p class="card-text">
                                    发送时间: <span ng-bind="request.requestTime"></span>
                                </p>
                                <div class="card-text d-flex align-items-center">
                                    <div class="d-inline-block" ng-if="!(request.receiver.id === userData.user.id && request.requestStatus === 'waiting')">
                                        状态:&nbsp;
                                    </div>
                                    <!-- 别人加我好友 -->
                                    <div class="d-inline-block" ng-if="request.receiver.id === userData.user.id">
                                        <div ng-if="request.requestStatus === 'waiting'">
                                            <button class="btn btn-sm btn-outline-primary px-3 mx-2" data-toggle="popover" title="{{getAgreeAddFriendTitle(request)}}"
                                                    data-content="{{getAgreeAddFriendContent(request)}}">
                                                同意
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger px-3 mx-2" ng-click="refuseAddFriendRequest(request, $event.target)">
                                                拒绝
                                            </button>
                                        </div>
                                        <!-- <span ng-if="request.requestStatus === 'agreed'"> -->
                                        <div ng-if="request.requestStatus === 'agree'">
                                            已同意
                                        </div>
                                        <!-- <span ng-if="request.requestStatus === 'refused'"> -->
                                        <div ng-if="request.requestStatus === 'refuse'">
                                            已拒绝
                                        </div>
                                    </div>
                                    <!-- 我加别人好友 -->
                                    <div class="d-inline-block" ng-if="request.receiver.id !== userData.user.id">
                                        <div ng-if="request.requestStatus === 'waiting'">
                                            等待中
                                        </div>
                                        <!-- <span ng-if="request.requestStatus === 'agreed'"> -->
                                        <div ng-if="request.requestStatus === 'agree'">
                                            你们已成为好友
                                        </div>
                                        <!-- <span ng-if="request.requestStatus === 'refused'"> -->
                                        <div ng-if="request.requestStatus === 'refuse'">
                                            对方已拒绝
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- join room request -->
                        <div class="card w-100 mb-3" ng-if="request.type === 'room'">
                            <div class="card-header">
                                <span ng-if="request.requester.id === userData.user.id">
                                    我
                                </span>
                                <span ng-if="request.requester.id !== userData.user.id">
                                    {{request.requester.username}}
                                </span>
                                请求加入
                                <i class="fa fa-home ml-1"></i>
                                <span ng-if="request.room.roomName">
                                    {{request.room.roomName}}
                                </span>
                                <small class="ml-1" ng-if="request.room.id && debugMode.isEnabled">
                                    ({{request.room.id}})
                                </small>
                            </div>
                            <div class="card-body">
                                <p class="card-text {{request.receiver.id === userData.user.id ? 'text-dark' : 'text-muted'}}">
                                    验证消息: <span ng-bind="request.requestMessage"></span>
                                </p>
                                <p class="card-text">
                                    发送时间: <span ng-bind="request.requestTime"></span>
                                </p>
                                <div class="card-text d-flex align-items-center">
                                    <div class="d-inline-block" ng-if="!(request.requester.id !== userData.user.id && request.requestStatus === 'waiting')">
                                        状态:&nbsp;
                                    </div>
                                    <!-- 别人申请加我管理的房间 -->
                                    <div class="d-inline-block" ng-if="request.requester.id !== userData.user.id">
                                        <div ng-if="request.requestStatus === 'waiting'">
                                            <!-- <button class="btn btn-sm btn-outline-primary px-3 mx-2" data-toggle="popover" title="{{getAgreeJoinRoomTitle(request)}}"
                                                data-content="{{getAgreeJoinRoomContent(request)}}">
                                                同意
                                            </button> -->
                                            <button class="btn btn-sm btn-outline-primary px-3 mx-2" ng-click="agreeJoinRoomRequest(request, $event.target)">
                                                同意
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger px-3 mx-2" ng-click="refuseJoinRoomRequest(request, $event.target)">
                                                拒绝
                                            </button>
                                        </div>
                                        <!-- <span ng-if="request.requestStatus === 'agreed'"> -->
                                        <div ng-if="request.requestStatus === 'agree'">
                                            已同意
                                        </div>
                                        <!-- <span ng-if="request.requestStatus === 'refused'"> -->
                                        <div ng-if="request.requestStatus === 'refuse'">
                                            已拒绝
                                        </div>
                                    </div>
                                    <!-- 我申请加别人管理的房间 -->
                                    <div class="d-inline-block" ng-if="request.requester.id === userData.user.id">
                                        <span ng-if="request.requestStatus === 'waiting'">
                                            等待中
                                        </span>
                                        <!-- <span ng-if="request.requestStatus === 'agreed'"> -->
                                        <span ng-if="request.requestStatus === 'agree'">
                                            你已加入该房间
                                        </span>
                                        <!-- <span ng-if="request.requestStatus === 'refused'"> -->
                                        <span ng-if="request.requestStatus === 'refuse'">
                                            你被拒绝加入该房间
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- system -->
                <div ng-if="['system'].includes(currentChatItemType)">
                    <div class="card w-100 mb-3" ng-repeat="message in chatMessageList track by $index">
                        <div class="card-header">
                            <span>微卡系统消息</span>
                            <small ng-if="message.id === special_ids.new_user_system_message">
                                (新用户系统消息)
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex align-items-center">
                                <img class="user-avatar-sm mr-2" src="img/icon-system.jpg" alt="image not found">
                                <div class="d-inline-block">{{message.systemMsg}}</div>
                            </div>
                            <div class="card-text d-flex align-items-center">
                                <small class="text-muted ml-auto">
                                    {{message.createTime}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- FAKE send message FAKE -->
            <div class="editor fake-editor w-100 p-3" style="visibility:hidden;">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend" ng-show="false">
                                <span class="input-group-text">message</span>
                            </div> -->
                            <textarea class="form-control" disabled></textarea>
                            <div class="input-group-append w-25">
                                <button class="btn btn-danger w-100" disabled>发送</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- send message -->
            <div class="editor fixed-bottom w-100 p-3 alert-dark" ng-show="['room','friend'].includes(currentChatItemType)">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend" ng-show="false">
                                <span class="input-group-text">message</span>
                            </div> -->
                            <textarea class="form-control" id="message" ng-model="$parent.messageToSend">
                                        </textarea>
                            <div class="input-group-append w-25">
                                <button class="btn btn-primary w-100" ng-click="sendMessage()">发送</button>
                            </div>
                        </div>
                    </div>

                    <!-- 滚动控制器 -->
                    <div class="d-inline-block scroll-control-wrapper" ng-show="$parent.is_scroll_control_enabled === true">
                        <div class="scroll-control d-flex justify-content-center">
                            <div class="w-100 h-100 align-self-center">
                                <small class="d-block w-100 h-50 d-flex justify-content-center text-muted" onclick="gotoFirstMessage(true)">
                                    <i class="fa fa-lg fa-angle-up align-self-center"></i>
                                </small>
                                <small class="d-block w-100 h-50 d-flex justify-content-center text-muted" onclick="gotoLastMessage(true)">
                                    <i class="fa fa-lg fa-angle-down align-self-center"></i>
                                </small>
                            </div>
                        </div>
                        <div id="unread-message-count" class="badge badge-pill badge-secondary" ng-show="unread_message_count">
                            {{unread_message_count}}
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <style>
            .color-box {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background-color: rgba(0, 0, 0, 0.1);
            }

            .color-box:hover {
                box-shadow: 0 0 3px black;
            }
        </style>


        <!-- chat window controls -->
        <div class="col-2 chat-window-controls toolbox"
             ng-show="getInnerWidth() >= 992 && ['friend','room'].includes(currentChatItemType)">
            <div class="row alert-secondary border border-secondary" style="position: fixed;">
                <div class="col-12">
                    <div class="alert pr-0">
                        <div>聊天背景</div>
                        <div class="row">
                            <div class="col">
                                <div class="color-box chat-window-bg-snow" ng-click="setChatWindowBackgroundColor('snow')"></div>
                                <div class="color-box chat-window-bg-warm" ng-click="setChatWindowBackgroundColor('warm')"></div>
                                <div class="color-box chat-window-bg-green" ng-click="setChatWindowBackgroundColor('green')"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="color-box"></div>
                                <div class="color-box"></div>
                                <div class="color-box"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="color-box"></div>
                                <div class="color-box"></div>
                                <div class="color-box"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="color-box"></div>
                                <div class="color-box"></div>
                                <div class="color-box"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="alert pr-0">
                        <div>
                            <div id="image-to-send">
                                <div class="image-to-send-wrapper"></div>
                                <input type="file" accept="image/png, image/jpeg, image/gif, image/bmp" class="display-none">
                            </div>
                            <button class="btn btn-primary" onclick="send_image_select_file('image-to-send')">
                                <span>发送图片</span>
                            </button>
                        </div>
                    </div>
                    <script>
function send_image_select_file (wrapperId) {
    var wrapper = $("#" + wrapperId);
    var input = wrapper.find("input[type='file']");
    if (input.length) {
        input.click();
    }
}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
